* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height:100vh;

.wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
  background-color: white;
  height: 100%;
}

div {
  background-color: #d3d3d3;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 900;
}

.cl1 {
  grid-area: 1/1/3/3;
}
.cl10 {
  grid-area: 3/3/5/5;
}
.cl11 {
  grid-area: 5/1/7/3;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .cl10,.cl11,.cl12,.cl13,.cl14,.cl15 {
    display: none;
  }

  .cl1 {
    grid-area: 1/1/3/3;
  }
  .cl6 {
    grid-area: 3/2/5/4;
  }
  .cl7 {
    grid-area: 5/1/7/3;
  }
}
